<ActionBar title="Opis samochodó {{ car.plates}}"> </ActionBar>
<GridLayout rows="*" columns="*" sdkExampleTitle sdkToggleNavButton>
    <ScrollView row="0" col="0">
        <GridLayout rows="*" columns="*">
            <StackLayout class="form">
                 <StackLayout class="input-field"> 
                    <Label text="Przeglad:" row="1" col="0"></Label>
                    <TextView #carOverview hint="{{ car.overview }}" row="1" col="1" class="text-input" margin="0"></TextView>
                </StackLayout>
                <StackLayout class="input-field"> 
                    <Label text="Ubezpieczenie:" row="1" col="0"></Label>
                    <TextView #carInsurance hint="{{ car.insurance  }}" row="1" col="1" class="text-input" margin="0"></TextView> 
                </StackLayout> 
                <StackLayout class="input-field"> 
                     <Label text="Przebieg:" row="1" col="0"></Label>
                    <TextView #carCourse hint="{{ car.course  }}" row="1" col="1" class="text-input" margin="0"></TextView> 
                </StackLayout>
                <StackLayout class="input-field">
                     <Label text="Opis:" row="1" col="0"></Label>
                    <TextView #carDescription hint="{{ car.description }}" row="1" col="1" class="text-input" margin="0"></TextView> 
                </StackLayout>
                <StackLayout class="input-field">
                     <Label text="IdWłaściciela:" row="1" col="0"></Label>
                    <TextView #carDescription hint="{{ car.users_id }}" row="1" col="1" class="text-input" margin="0"></TextView> 
                </StackLayout>
                <StackLayout> 
                    <Button text="Cancel" (tap)="cancel()" margin="5" row="0" col="0"></Button>
                    <Button text="Save" (tap)="save(car.id, carName.text)" class="btn btn-primary" margin="5" row="0" col="1"></Button>
               </StackLayout>
            </StackLayout>
        </GridLayout> 
    </ScrollView>
</GridLayout>