<ActionBar title="Car details"> </ActionBar>
<StackLayout>
     <Label text="{{ car.plates }} Details..." ></Label>
    <GridLayout rows="auto, auto" columns="100, *" margin="5">
        <Label text="ID:" row="0" col="0"></Label>
        <Label text="{{ car.id }}" row="0" col="1"></Label>
        <Label text="Name:" row="1" col="0"></Label>
        <TextView #carName hint="{{ car.plates }}" row="1" col="1" class="text-input" margin="0"></TextView>
        <Button text="Cancel" (tap)="cancel()" margin="5" row="0" col="0"></Button>
        <Button text="Save" (tap)="save(car.id, carName.text)" class="btn btn-primary" margin="5" row="0" col="1"></Button>
    </GridLayout>
 <!--     <GridLayout rows="dupa" columns="*, *"> 
        <Button text="Cancel" (tap)="cancel()" margin="5" row="0" col="0"></Button>
        <Button text="Save" (tap)="save(car.id, carName.text)" class="btn btn-primary" margin="5" row="0" col="1"></Button>
    </GridLayout>    -->
<DatePicker (loaded)="onPickerLoaded($event)"> </DatePicker>
</StackLayout> 